<h1>Listing Novels</h1>
<table class="table">
  <thead>
    <th>Title</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @novels.each do |novel| %>
      <tr>
        <td><%= novel.title%></td>
        <td><%= novel.status%></td>
        <td><%= link_to 'Edit', edit_admin_novel_path(novel.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_admin_novel_path%>